body{
    font-family: nyt-franklin,helvetica,arial,sans-serif;
}

/* Navigation section */
nav{
    z-index: 1;
    display:flex;
    justify-content: end;
    padding: 3px 7px 3px 7px;
    border-bottom: 1px solid #E2E2E2;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    background-color: white;
}

nav .nav-left{
    display: flex;
    flex:1;
    align-items: center;
    margin-left: 7px;
}

nav span{
    margin-right:10px;
    font-size: 14px;
    cursor: pointer;
    padding:5px;
} 
nav span:hover{
    background: rgba(165, 184, 196, 0.185);
}

nav a{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color:black;
} 
nav a:hover{
    text-decoration: underline;
}

nav img{
    width:200px;
}

nav .logo{
    display: flex;
    flex:1;
    justify-content: center;
}

nav .nav-right{
    display: flex;
    flex:1;
    justify-content: flex-end;
    margin-right: 20px;
}
.nav-right button{
    font-size:11px;
    font-weight: bolder;
    background-color: #567B95;
    color:white;
    border:none;
    border-radius:3px;
}
.subs{
    width: 120px;
    margin-right: 8px;
} 

.login{
    width:65px;
} 

/* Main Content */
main{
    position: relative;
    top: 50px;
    width: 70%;
    margin: 0 auto;
}

main p,
main h1 {
    width: 70%;
    margin: 0 auto;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

main p {
    color: #333333;
    font-size: 20px;
    line-height: 30px;
    margin-top: 15px;
}

main h2 {
    width: 70%;
    margin: 0 auto;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    margin-top: 15px;
}

main img {
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    width: 210px;
}

.asideimage {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 5px 0;
    flex: 1;
}

.asideimage img {
    width: 77px;
    height: 77px;
    flex: 1;
}

.asideimage a {
    flex: 2;
    margin-left: 10px;
    font-size: 13px;
    text-decoration: none;
    color: #333333;
}

.asideimage a:hover {
    text-decoration: underline;
}

.asidetext {
    display: flex;
    flex-direction: column;
}
.asidetext a {
    flex: 1;
    margin-left: 5px;
}

.asidetext h6 {
    margin: 0 0 0 5px;
    flex: 1;
}
    

.h5 {
    font-weight: bolder;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #E2E2E2;
    
}

.h5 h5 {
    margin-bottom: 10px;
}





    
